<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Token de Acesso</h1>
  </div>

  <div class="row justify-content-center">
    <div class="card mb-4">
      <div class="card-header">
        Token
      </div>
      <div class="card-body" style="width: 40rem;">
        <div class="text-center">
          <input id="inputToken" type="text" readonly value=""
            style="width: 30rem;text-align:center;">
          <a id="btnCopyTokenToClipboard" tabindex="0" class="btn btn-lg
            btn-danger" role="button" data-toggle="popover"
            data-content="Copiado!"><i class="far fa-copy"></i></a>
        </div>
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Gerar Token de Acesso</h6>
      </div>
      <div class="card-body">
        <h6>Após gerar um token de acesso, não será possível gerar um novo a não
          ser que o existente seja
          revogado! (Contactar o suporte).</h6>
        <div class="text-center">
          <button type="button" class="btn btn-success btn-icon-split"
            id="btnGenerateToken"><span class="icon text-white-50"><i
                class="fas fa-plus"></i></span><span class="text">Gerar Token de
              Acesso</span></button>
        </div>
      </div>
    </div>

  </div>

  <div class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
    <h4 class="alert-heading">Token de Acesso gerado com sucesso!</h4>
    <hr>
    <p>Copie-o e coloque nas configurações dentro do jogo I BLUE IT para começar a enviar informações!</p> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>

<script type="module" src="./../js/pages/token.js"></script>
