<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Calibração - Informações Gerais</h1>
  </div>

  <div id="content-info" class="align-items-center justify-content-between
        mb-4">
    <h5 class="mb-0 text-warning">Selecione um paciente para visualizar seus
      dados!</h3>
  </div>

  <div id="calibration-main-container" style="display: none;">
    <div class="row">

      <div class="col-lg-4">
        <div class="card shadow mb-4 border-left-info">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Calibrações
              - Pitaco</h6>
          </div>
          <div class="card-body">
            <table style="height: 100px;">
              <tbody>
                <tr>
                  <td class="align-baseline"><strong>Pico
                      Expiratório:</strong></td>
                  <td id="table-calibracaoPitaco-picoExp" class="align-baseline"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Duração
                      Expiratória:</strong></td>
                  <td id="table-calibracaoPitaco-duracaoExp" class="align-baseline"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Pico
                      Inspiratório:</strong></td>
                  <td id="table-calibracaoPitaco-picoIns" class="align-top"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Duração
                      Inspiratória:</strong></td>
                  <td id="table-calibracaoPitaco-duracaoIns" class="align-top"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Frequência</strong></td>
                  <td id="table-calibracaoPitaco-frequencia" class="align-top"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card shadow mb-4 border-left-info">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Calibrações - Manovacuômetro</h6>
          </div>
          <div class="card-body">
            <table style="height: 100px;">
              <tbody>
                <tr>
                  <td class="align-baseline"><strong>Pico
                      Expiratório:</strong></td>
                  <td id="table-calibracaoMano-picoExp" class="align-baseline"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Duração
                      Expiratória:</strong></td>
                  <td id="table-calibracaoMano-duracaoExp" class="align-baseline"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Pico
                      Inspiratório:</strong></td>
                  <td id="table-calibracaoMano-picoIns" class="align-top"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Duração
                      Inspiratória:</strong></td>
                  <td id="table-calibracaoMano-duracaoIns" class="align-top"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Frequência: </strong></td>
                  <td id="table-calibracaoMano-frequencia" class="align-top"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card shadow mb-4 border-left-info">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Calibrações - Cinta</h6>
          </div>
          <div class="card-body">
            <table style="height: 100px;">
              <tbody>
                <tr>
                  <td class="align-baseline"><strong>Pico
                      Expiratório:</strong></td>
                  <td id="table-calibracaoCinta-picoExp" class="align-baseline"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Duração
                      Expiratória:</strong></td>
                  <td id="table-calibracaoCinta-duracaoExp" class="align-baseline"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Pico
                      Inspiratório:</strong></td>
                  <td id="table-calibracaoCinta-picoIns" class="align-top"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Duração
                      Inspiratória:</strong></td>
                  <td id="table-calibracaoCinta-duracaoIns" class="align-top"></td>
                </tr>
                <tr>
                  <td class="align-baseline"><strong>Frequência:</strong></td>
                  <td id="table-calibracaoCinta-frequencia" class="align-top"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="d-sm-flex mb-4" id="content-filters"></div>
    <div class="d-sm-flex mb-0" id="calibracao-filters">
      <div class="form-row mb-2">
        <div class="col-auto">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Calibração:</label>
          <select id="calibration-exercise" class="custom-select">
            <option selected value="RespiratoryFrequency">Freqûencia Respiratória</option>
            <option value="ExpiratoryPeak">Pico Expiratório</option>
            <option value="ExpiratoryDuration">Duração Expiratória</option>
            <option value="InspiratoryPeak">Pico Inspiratório</option>
            <option value="InspiratoryDuration">Duração Inspiratória</option>
          </select>
        </div>
      </div>
    </div>
    <button id="btnFiltrar" type="button" class="btn btn-primary mb-4">Filtrar</button>
    
    <div id="plot-info" class="align-items-center justify-content-between
        mb-4" style="display: none;">
      <h5 class="mb-1 text-warning">Não foram encontrados registros com estes filtros!</h3>
    </div>
    
    <div id="calibration-chart-container" style="display: none;"></div>
  </div>



</div>

<script type="module" src="./../js/pages/calibracao.js"></script>