<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Minigames - Estatísticas Gerais</h1>
	</div>
	<!-- Page Information -->
	<div id="content-info" class="align-items-center justify-content-between mb-4">
		<h5 class="mb-0 text-warning">Selecione um paciente para visualizar seus dados!</h3>
	</div>

	<div class="d-sm-flex mb-4" id="content-filters"></div>

<div id="minigame-main-container"></div>

</div>


<script type="module" src="./../js/pages/minigames.js"></script>
